.btn {
    padding: 20px 100px;
    color: white;
    background-color: #901C1C;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    min-width: 300px;
    margin: 10px;
}

.btn>img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    background-color: #D3573C;
    color: black;
}